<div class="page-header text-center">
  <h4>Components Index</h4>
</div>


<label>search Components Index: </label>  <input ng-model="ctrl.searchTable">
<label>minimum price: </label><input integer ng-model="ctrl.min">
<label>maximum price: </label><input integer ng-model="ctrl.max">
<button ng-click="ctrl.withinRange()">price filter</button> <button ng-click="ctrl.reset()">reset</button></br></br></br>

<table class="table">
  <thead>
    <tr>
      <th>
        <a class="fake-link" ng-click="ctrl.sortColumn = 'category'; ctrl.sortReverse = !ctrl.sortReverse">
          Category
          <span ng-show="ctrl.sortColumn == 'category' && !ctrl.sortReverse"></span>
          <span ng-show="ctrl.sortColumn == 'category' && ctrl.sortReverse"></span>
        </a>
      </th>
      <th>
        <a class="fake-link" ng-click="ctrl.sortColumn = 'brand'; ctrl.sortReverse = !ctrl.sortReverse">
          Brand
          <span ng-show="ctrl.sortColumn == 'brand' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortColumn == 'brand' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="fake-link" ng-click="ctrl.sortColumn = 'name'; ctrl.sortReverse = !ctrl.sortReverse">
          Model
          <span ng-show="ctrl.sortColumn == 'name' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortColumn == 'name' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="fake-link" ng-click="ctrl.sortColumn = 'price'; ctrl.sortReverse = !ctrl.sortReverse">
          Price
          <span ng-show="ctrl.sortColumn == 'price' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortColumn == 'price' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="fake-link" ng-click="ctrl.sortColumn = 'popularity'; ctrl.sortReverse = !ctrl.sortReverse">
          Popularity
          <span ng-show="ctrl.sortColumn == 'popularity' && !ctrl.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="ctrl.sortColumn == 'popularity' && ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr name="index-row" ng-repeat="comp in ctrl.components | orderBy:ctrl.sortColumn:ctrl.sortReverse | filter: ctrl.searchTable"" component-display component="comp"></tr>
  </tbody>
</table>
