<div class="page-header text-center">
  <h2>Components Index</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        <a class="fake-link" ng-click="ctrl.sortColumn = 'category'; ctrl.sortReverse = !ctrl.sortReverse">
          Category
          <span ng-show="ctrl.sortColumn == 'category' && !ctrl.sortReverse"></span>
          <span ng-show="ctrl.sortColumn == 'category' && ctrl.sortReverse"></span>
        </a>
      </th>
      <th>Brand</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="comp in ctrl.components | orderBy:ctrl.sortColumn:ctrl.sortReverse" component-display component="comp"></tr>
  </tbody>
</table>
