
<form name="compForm" ng-model="comp">

    <h4> {{ comp.category }} </h4>

<!-- component menu will hide if you click on the button to change existing component's price -->
    <select ng-hide="price" name="select" ng-model="selectedComponent" ng-options='x as (x.brand + " " + x.name) for x in menu'><option value="">Select</option></select>


    <div ng-show="i">
      <input type="button" ng-show="i && comp.name.length > 0" value="change price" name="change" ng-click="price=true">
      <input type="button" ng-show="i && comp.name.length > 0" value="remove component" ng-click="removeComp()">
    </div>

    <span>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-1">Category</th>
            <th class="col-md-1">Brand</th>
            <th class="col-md-1">Name</th>
            <th class="col-md-1">Price</th>
          </tr>
        </thead>
        <tbody>
          <!-- this row will show when new + component's been selected, or when edit + component's populated -->
          <tr ng-show="(!i && selectedComponent) || (i && (!price && comp.id))">
                <td>{{comp.category}}</td>
                <td>{{comp.brand}}</td>
                <td>{{comp.name}}</td>
                <td>{{comp.price | toDollar}}</td>
         </tr>
         <!-- this row is more complicated, will show when new + component's not been selected, or when edit + user wants to change price OR the component's not populated. further logic inside ensures that when want to change price, only price column transforms from text span to input-->
          <tr ng-show="(!i && !selectedComponent) || (i && (price || !comp.id))">
                <td>{{comp.category}}</td>
                <td><input ng-hide="price"
                           ng-model="comp.brand"
                           name="compBrand"
                           ng-required="comp.name.length > 0 || comp.price > 0">
                           <span ng-show="price"> {{ comp.brand}}</span></td>

                <!-- just fixed a bug where comp.name read comp.brand on line 47; also fixed ng-require - was "price.length > 0" now is "comp.price > 0" -->
                <td><input ng-hide="price"
                           ng-model="comp.name"
                           name="compName"
                           name-taken
                           ng-required="comp.brand.length > 0 || comp.price > 0">
                           <span ng-show="price"> {{ comp.name}}</span></td>

                <td><input ng-model="comp.price"
                           name="compPrice"
                           integer
                           only-numbers
                           ng-required="comp.name.length > 0 || comp.brand.length > 0"></td>
          </tr>
        </tbody>
      </table>
    </span>

    <div style="color:red">

      <div ng-messages="compForm.compBrand.$error">
        <div ng-message="required">{{ comp.category}} brand required</div>
      </div>

      <div ng-messages="compForm.compName.$error" >
        <div ng-message="nameTaken">{{ comp.category }} model already in database</div>
        <div ng-message="required">{{ comp.category }} model required</div>
      </div>

      <div ng-messages="compForm.compPrice.$error" >
        <div ng-message="onlyNumbers">Price must contain a valid numeric value</div>
        <div ng-message="required"> {{ comp.category }} price required</div>
      </div>

    </div>

</form>
