<form name="compForm">
  <h4> {{ comp.category }} </h4>

  <select name="select" ng-model="selectedComponent" ng-options='x as (x.brand + " " + x.name) for x in comp.list'><option value="">Select</option></select>

  <span ng-if="!selectedComponent">
      <label> brand: </label><input ng-model="comp.brand">
      <label> name: </label><input ng-model="comp.name">
      <label> price: </label><input ng-model="comp.price" integer>
  </span>

  <span ng-if="selectedComponent">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-1">Component</th>
          <th class="col-md-1">Brand</th>
          <th class="col-md-1">Name</th>
          <th class="col-md-1">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr component-display component="selectedComponent"></tr>
      </tbody>
    </table>
  </span>

</form>
