<form name="compForm">
<h4> {{ comp.category }} </h4>
  <select name="select" ng-model="selectedComponent" ng-options='x as (x.brand + " " + x.name) for x in menu'><option value="">Select</option></select>

  <span ng-if="!selectedComponent">

      <label> brand: </label> <input ng-model="comp.brand"
                                     name="compBrand"
                                     ng-required="comp.name.length > 0 || comp.price.length > 0">

      <label> model: </label>  <input ng-model="comp.name"
                                     name="compName"
                                     name-taken
                                     ng-required="comp.brand.length > 0 || comp.price.length > 0">

      <label> price: </label> <input ng-model="comp.price"
                                     name="compPrice"
                                     integer
                                     only-numbers
                                     ng-required="comp.name.length > 0 || comp.brand.length > 0">
  </span>

  <span ng-if="selectedComponent">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-1">Component</th>
          <th class="col-md-1">Brand</th>
          <th class="col-md-1">Name</th>
          <th class="col-md-1">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr component-display crow="selectedComponent"></tr>
      </tbody>
    </table>
  </span>

  <div style="color:red">

    <div ng-messages="compForm.compBrand.$error">
      <div ng-message="required">{{ comp.category}} brand required</div>
    </div>

    <div ng-messages="compForm.compName.$error" >
      <div ng-message="nameTaken">{{ comp.category }} model already in database</div>
      <div ng-message="required">{{ comp.category }} model required</div>
    </div>

    <div ng-messages="compForm.compPrice.$error" >
      <div ng-message="onlyNumbers">Price must contain a valid numeric value</div>
      <div ng-message="required"> {{ comp.category }} price required</div>
    </div>

  </div>



</form>
