<span>

  <label> brand: </label> <input ng-model="comp.brand"
                                 name="compBrand"
                                 value="comp.brand"
                                 required >

  <label> name: </label>  <input ng-model="comp.name"
                                 name="compName"
                                 value="comp.name"
                                 name-taken
                                 all-or-none
                                 required >

  <label> price: </label> <input ng-model="comp.price"
                                 name="compPrice"
                                 value="comp.price"
                                 integer
                                 only-numbers
                                 required >
</span>
