<span>

  <label> brand: </label> <input ng-model="comp.brand"
                                 name="compBrand"
                                 value="comp.brand"
                                 ng-required="comp.name.length > 0 || comp.price.length > 0">

  <label> model: </label>  <input ng-model="comp.name"
                                 name="compName"
                                 value="comp.name"
                                 name-taken
                                 ng-required="comp.brand.length > 0 || comp.price.length > 0">

  <label> price: </label> <input ng-model="comp.price"
                                 name="compPrice"
                                 value="comp.price"
                                 integer
                                 only-numbers
                                 ng-required="comp.name.length > 0 || comp.brand.length > 0">
</span>
