<div>

  <a ui-sref="home.show({id: stereo.id})" class="list-group-item">
    <div class="list-group-item-text">

      <h4>Name: {{ stereo.name }}</h4>

      <p ng-show="receiver.name" >{{ receiver.category }}: {{ receiver.brand }} {{ receiver.name }} </p>
      <p ng-show="speaker.name">{{ speaker.category }}: {{ speaker.brand }} {{ speaker.name }} </p>
      <p ng-show="media_player.name">{{ media_player.category }}: {{ media_player.brand }} {{ media_player.name }}</p>
      <h5> Total Cost: {{ receiver.price + speaker.price + media_player.price | toDollar}} </h5>
    </div>
  </a>




</div>
