<div>

  <table class="table">
  <h4> Stereo Profile for: {{stereo.name}} </h4>

      <thead>
        <tr>
          <th>Component</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr component-display component="stereo.component_attributes[0]">
        </tr>
        <tr component-display component="stereo.component_attributes[1]">
        </tr>
        <tr component-display component="stereo.component_attributes[2]">
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td style="font-weight:bold"> {{ (stereo.component_attributes[0].price + stereo.component_attributes[1].price + stereo.component_attributes[2].price) / 100 | currency }}</td>
        </tr>
      </tbody>
    </table>

</div>
