<div class="well">
  <h4>Stereo Profile Name: {{ stereo.name }} </h4>
  <p>Profile owner: {{ stereo.user.email }} </p>

  <table class="table">
    <thead>
      <tr>
        <th>Component</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if='receiver != ""' component-display crow="receiver">
      </tr>
      <tr ng-if='speaker != ""' component-display crow="speaker">
      </tr>
      <tr ng-if='turntable != ""' component-display crow="turntable">
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td style="font-weight:bold"> {{ receiver.price + speaker.price + turntable.price | toDollar  }}</td>
      </tr>
    </tbody>
  </table>

</div>
