<div class="page-header text-center">
  <h4 ng-show="!ctrl.stereo.id"> Create New Stereo Profile </h4>
  <h4 ng-show="ctrl.stereo.id && !show"> Stereo Profile </h4>
  <h4 ng-show="ctrl.stereo.id && show">Edit Your Stereo</h4>
</div>


<stereo-display stereo="ctrl.stereo"></stereo-display>

<ul ng-repeat="comment in ctrl.comments">
  <li> {{comment.content}}</li>
</ul>

<form name="comment_form">
  <input ng-model="ctrl.newcomment" placeholder="enter comment here">
  <input type="submit" ng-click="ctrl.submitComment()">
</form></br>


<div ng-if="((user.id == ctrl.stereo.user.id) && (!ctrl.stereo.id || (ctrl.stereo.id && show))) || !ctrl.stereo.id">
<form name="profileForm" ng-submit="profileForm.$valid && ctrl.submit()" novalidate>

    <h4 class= "text-center"> Stereo Form </h4>
    <div class="well">

    <h5>Stereo Profile Name: <input ng-model="ctrl.stereo.name" name="stereoName" required name-taken></br></br>

    <input ng-model="ctrl.stereo.hidden" name="stereoHidden" type="hidden" ng-required="ctrl.atLeastOne()">


    <div style="color:red" ng-messages="profileForm.stereoName.$error" ng-if="profileForm.stereoName.$touched || profileForm.$submitted">
      <div ng-message="required">Profile Name required</div>
      <div ng-message="nameTaken">Stereo profile name already in database</div>
    </div>

    <div style="color:red" ng-messages="profileForm.stereoHidden.$error" ng-if="profileForm.$submitted">
      <div ng-message="required">You need to add at least one component to your stereo</div>
    </div>

    <component-form comp="comp" list="ctrl.list" i="ctrl.stereo.id" ng-repeat="comp in ctrl.stereo.component_attributes"></component-form></br>

    <input ng-show="!ctrl.stereo.id" type="submit" value="submit stereo"></br></br>
    <input ng-show="ctrl.stereo.id" type="submit" value="update stereo"></br></br>

</form>
</div>
</div>

<div ng-show="user.id == ctrl.stereo.user.id">
<input  type="button" value="edit stereo" ng-click="show=true" ng-show="ctrl.stereo.id && !show">
<input type="button" value="delete stereo" ng-show="ctrl.stereo.id" ng-click="ctrl.deleteStereo()">
</div>
