<div class="page-header text-center">
  <h4 ng-show="!ctrl.stereo.id"> Create New Stereo Profile </h4>
  <h4 ng-show="ctrl.stereo.id && !show"> Stereo Profile </h4>
  <h4 ng-show="ctrl.stereo.id && show">Edit Your Stereo</h4>
</div>

<stereo-display stereo="ctrl.stereo"></stereo-display>

<div ng-show="!ctrl.stereo.id || (ctrl.stereo.id && show)">
  <stereo-form stereo="ctrl.stereo" add="ctrl.addStereo()"></stereo-form>
</div>

<input type="button" value="edit stereo" ng-click="show=true" ng-show="ctrl.stereo.id && !show">
<input type="button" value="delete stereo" ng-show="ctrl.stereo.id" ng-click="ctrl.deleteStereo()">
