<div class="page-header text-center">
  <h4 ng-show="!ctrl.stereo.id"> Create New Stereo Profile </h4>
  <h4 ng-show="ctrl.stereo.id && !show"> Stereo Profile </h4>
  <h4 ng-show="ctrl.stereo.id && show">Edit Your Stereo</h4>
</div>

<stereo-display stereo="ctrl.stereo"></stereo-display>

<form name="profileForm" ng-submit="profileForm.$valid && ctrl.addStereo()" novalidate>

    <h5>Stereo Profile Name: <input ng-model="ctrl.stereo.name" name="stereoName" required name-taken>

    <input ng-model="stereo.hidden" name="stereoHidden" type="hidden" ng-required="ctrl.atLeastOne()">


    <div style="color:red" ng-messages="profileForm.stereoName.$error" ng-if="profileForm.stereoName.$touched || profileForm.$submitted">
      <div ng-message="required">Profile Name required</div>
      <div ng-message="nameTaken">Stereo profile name already in database</div>
    </div>

    <div style="color:red" ng-messages="profileForm.stereoHidden.$error" ng-if="profileForm.stereoHidden.$touched || profileForm.$submitted">
      <div ng-message="required">You need to add at least one component to your stereo</div>
    </div>

    <component-form comp="comp" list="ctrl.list" ng-repeat="comp in ctrl.stereo.component_attributes"></component-form>

    <input type="submit" value="submit stereo"></br></br>

</form>








</div>

<input type="button" value="edit stereo" ng-click="show=true" ng-show="ctrl.stereo.id && !show">
<input type="button" value="delete stereo" ng-show="ctrl.stereo.id" ng-click="ctrl.deleteStereo()">
